<div class="row">
	<div class="col-md-8">
		<h2><i class="fa fa-info fa-1x"></i> &nbsp;About us :</h2>		
	</div>
	<div class="col-md-4">
		{{getDatetime | date:'medium'}}
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8" style="margin:0 auto">
		 Created with  <i class="fa fa-heart"></i>&nbsp; by IMG IIT-R Sre : &nbsp;2015-16
	</div>
	<!-- <div class="col-md-4" style="">
                <ul>
                    <li>
                        <a ng-if="isUserAuthenticated">Welcome {{ global.username }}</a>
                    </li>
                    <li>
                         <a ng-if="isUserAuthenticated" ng-click="logout()">Logout</a>
                    </li>
                </ul>
    </div> -->
	
</div>